apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keycloak
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: the-farmer
    server: {{ $.Values.spec.destination.server }}
  project: the-farmer
  source:
    path: ./chart
    repoURL: https://github.com/the-farmer-trading/applications-keycloak-gitops.git
    targetRevision: master
    helm:
      valueFiles:
        - values.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true      